.navbar {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70vh;
}
.navbar .navbar-inner {
  background-image: url(../../images/logo.svg);
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-inner .navbar-text {
  background-color: transparent;
}
.navbar-text h1 {
  background-color: transparent;
  width: 408px;
  /* height: 110px; */
  font-family: Jost;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0em;
  /* text-align: center; */
  color: #e3e7f2;
  margin-bottom: 40px;
  position: relative;
  top: 40px;
  left: 130px;
}
.navbar-inner .navbar-icon {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #141413;
  top: 60px;
  cursor: pointer;
  right: 378px;
  /* padding: 14px, 14px, 26px, 26px; */
  border: 3px;
  padding: 20px;
  transition: ease-in-out 0.1s;
  border: 1px solid #e3e7f2;
}
.navbar-icon:hover {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding-bottom: 40px;
  padding-left: 40px;
}
.navbar-icon .navbar-icon-img {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: end;
  background-color: transparent;
}
.navbar-icon-img svg {
  background-color: transparent;
}
.navbar-icon p {
  width: 200px;
  height: 60px;
  font-family: Jost;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  background-color: transparent;
  text-align: left;
  color: #e3e7f2;
}
.modal {
  width: 600px;
  position: fixed;
  top: 200px;
  height: 300px;
  left: 350px;
  height: 400px;
  background-color: #111;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.modal .modal-content {
  background-color: #111;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  gap: 20px;
}
.close {
  background-color: #111;
  font-size: 30px;
  border: 1px solid #fff;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.close:hover {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.modal h2 {
  background-color: #111;
}
.modal p {
  background-color: #111;
}
.modal-content .modal-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #111;
  color: #fff;
}
.modal-content .input {
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content .input .input1 {
  width: 100%;
  background-color: inherit;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  font-size: 20px;
}
.modal-content p {
  color: #e3e7f2;
  font-size: 20px;
  width: 280px;
  margin-top: 30px;
}
.modal-content .modal-modal {
  background-color: #111;
  display: flex;
  justify-content: space-between;
}
.modal-content .modal-modal .modal-icon {
  background-color: #111;
  border: 1px solid #fff;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-modal .modal-icon:hover {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.modal-icon .modal-img {
  display: flex;
  align-items: start;
  background-color: #111;
  justify-content: end;
  height: 30px;
}
.modal-icon .modal-img svg {
  margin-top: -40px;
  margin-left: 40px;
  background-color: transparent;
}
.modal-icon .modal-icon-text {
  background-color: #111;
  color: #fff;
}
.modal-icon-text h3 {
  background-color: #111;
}
