#portfolio {
  width: 100%;
  height: auto;
  margin-top: 500px;
}
#portfolio marquee {
  font-family: Jost;
  font-size: 150px;
  font-weight: 600;
  line-height: 217px;
  letter-spacing: 0em;
  text-align: center;
  color: #e3e7f2;
  position: relative;
  top: 300px;
  background-color: transparent;
}
#portfolio .portfolio-inner {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-inner .portfolio-text {
  background-image: url(../../images/portfilio.svg);
  background-position: center;
  width: 60%;
  height: 400px;
  /* height: auto; */
  background-size: cover;
  background-repeat: no-repeat;
}
